<!DOCTYPE html>

<head>
	<title>NFv3 Rounding Examples</title>
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure.css" />
	<style type="text/css">
		body {
			background-color: rgb(192, 80, 80);
			margin: 0 0 0 10px;
			padding: 0;
			font: 12px/16px Verdana, sans-serif;
		}

		div#main {
			background-color: #FFF;
			margin: 0;
			padding: 10px;
		}
	</style>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
	<div id="main">
		<h1>NFv3 Rounding Examples</h1>

		<h2>Matrix</h2>
		<table class="pure-table pure-table-bordered">
			<thead>
				<tr>
					<td>Input</td>
					<td v-for="number in numbers">
						{{ number }}
					</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="row in matrix">
					<td><pre>{{ row.optionBag }}</pre></td>
					<td v-for="col in row">
						({{ col.roundingMagnitude === -Infinity ? "-Inf" : col.roundingMagnitude }}, {{ col.displayMagnitude === Infinity ? "Inf" : col.displayMagnitude }})<br/>
						<tt>{{ col.string }}</tt>
					</td>
				</tr>
			</tbody>
		</table>

		<hr/>
		<h2>Numbers</h2>
		<ul>
			<li v-for="(number, index) in numbers">
				{{ number }}
				<button v-on:click="removeNumber(index)">⌫</button>
			</li>
		</ul>
		<form class="pure-form" @submit="addNumber">
			<input type="number" step="any" placeholder="Enter number and press enter" v-model="newNumber" />
			<button type="submit" class="pure-button pure-button-primary">Add</button>
		</form>

		<hr/>
		<h2>Option Bags</h2>
		<ul>
			<li v-for="(optionBag, index) in optionBags">
				{{ optionBag }}
				<button v-on:click="removeOptionBag(index)">⌫</button>
			</li>
		</ul>
		<form class="pure-form" @submit="addOptionBag">
			<textarea rows="8" style="width: 95%; max-width: 500px;" v-model="newOptionBag"></textarea><br/>
			<button type="submit" class="pure-button pure-button-primary">Add</button>
		</form>

	</div>
</body>
<script type="text/javascript">

	function computeMagnitudesV1(magnitude, optionBag) {
		let maxFraMag = -(optionBag.maximumFractionDigits ?? Infinity);
		let maxSigMag = magnitude - (optionBag.maximumSignificantDigits ?? Infinity) + 1;
		let maxMag = Math.max(maxFraMag, maxSigMag);
		let minFraMag = -(optionBag.minimumFractionDigits ?? (optionBag.trailingZeros === "keep" ? (optionBag.maximumFractionDigits ?? -Infinity) : -Infinity));
		let minSigMag = magnitude - (optionBag.minimumSignificantDigits ?? (optionBag.trailingZeros === "keep" ? (optionBag.maximumSignificantDigits ?? 1) : 1)) + 1;
		let minMag = Math.min(minFraMag, minSigMag);
		return { minMag, maxMag };
	}

	function processV1(optionBag, number) {
		let magnitude = getMagnitude(number);
		let magnitudes = computeMagnitudesV1(magnitude, optionBag);
		let roundingMagnitude = Math.min(magnitudes.minMag, magnitudes.maxMag);
		// let roundingMagnitude = magnitudes.maxMag;
		let x = roundToMagnitude(number, roundingMagnitude, optionBag);
		magnitude = getMagnitude(x);
		magnitudes = computeMagnitudesV1(magnitude, optionBag);
		let displayMagnitude;
		switch (optionBag.trailingZeros ?? "auto") {
			case "auto":
				displayMagnitude = Math.max(magnitudes.minMag, magnitudes.maxMag);
				break;
			case "keep":
				displayMagnitude = magnitudes.minMag;
				break;
			case "whole":
				displayMagnitude = Number.isInteger(x) ? 0 : Math.max(magnitudes.minMag, magnitudes.maxMag);
				break;
			default:
				throw new RangeError("Unknown trailingZeros option:", optionBag.trailingZeros);
		}
		return {
			roundingMagnitude,
			displayMagnitude,
			string: renderString(x, roundingMagnitude, displayMagnitude)
		};
	}

	function computeMagnitudesV2(magnitude, optionBag) {
		let maxFraMag = -(optionBag.maximumFractionDigits ?? 6);
		let maxSigMag = magnitude - (optionBag.maximumSignificantDigits ?? Infinity) + 1;
		let minFraMag = -(optionBag.minimumFractionDigits ?? 0);
		let minSigMag = magnitude - (optionBag.minimumSignificantDigits ?? 1) + 1;

		let roundingMagnitude;
		switch (optionBag.mode) {
			case "loose-loose":
			case "loose-strict":
				roundingMagnitude = Math.min(maxFraMag, maxSigMag);
				break;
			case "strict-loose":
			case "strict-strict":
				roundingMagnitude = Math.max(maxFraMag, maxSigMag);
				break;
			case "auto":
			default:
				if (optionBag.maximumSignificantDigits || optionBag.minimumSignificantDigits) {
					roundingMagnitude = maxSigMag;
				} else {
					roundingMagnitude = maxFraMag;
				}
		}

		let displayMagnitude;
		switch (optionBag.mode) {
			case "loose-loose":
			case "strict-loose":
				displayMagnitude = Math.max(minFraMag, minSigMag);
				break;
			case "loose-strict":
			case "strict-strict":
				displayMagnitude = Math.min(minFraMag, minSigMag);
				break;
			case "auto":
			default:
				if (optionBag.maximumSignificantDigits || optionBag.minimumSignificantDigits) {
					displayMagnitude = minSigMag;
				} else {
					displayMagnitude = minFraMag;
				}
		}

		return { roundingMagnitude, displayMagnitude };
	}

	function processV2(optionBag, number) {
		let magnitude = getMagnitude(number);
		let {roundingMagnitude} = computeMagnitudesV2(magnitude, optionBag);
		let x = roundToMagnitude(number, roundingMagnitude, optionBag);
		magnitude = getMagnitude(x);
		let {displayMagnitude} = computeMagnitudesV2(magnitude, optionBag);
		return {
			roundingMagnitude,
			displayMagnitude,
			string: renderString(x, roundingMagnitude, displayMagnitude)
		};
	}

	function getMagnitude(number) {
		if (number === 0) {
			return 0;
		}
		return Math.floor(Math.log10(number));
	}

	function roundToMagnitude(number, roundingMagnitude, optionBag) {
		if (roundingMagnitude === -Infinity) {
			return number;
		}
		let increment = optionBag.roundingIncrement ?? 1;
		let scaled = number * Math.pow(10, -roundingMagnitude) / increment;
		let rounded = Math.round(scaled);
		return rounded * Math.pow(10, roundingMagnitude) * increment;
	}

	function renderString(number, roundingMagnitude, displayMagnitude) {
		if (displayMagnitude > 0) {
			return number.toLocaleString("und");
		}
		if (displayMagnitude < roundingMagnitude) {
			roundingMagnitude = displayMagnitude;
		}
		return number.toLocaleString("und", {
			minimumFractionDigits: Math.max(0, -displayMagnitude),
			maximumFractionDigits: Math.min(20, Math.max(0, -roundingMagnitude)),
		});
	}

	new Vue({
		el: "#main",
		data: {
			numbers: [
				1234,
				123.4,
				12.34,
				1.234,
				1.034,
				.1034,
				.1234,
				99.999,
				0,
			],
			newNumber: 0,
			optionBags: [
				{},
				{
					maximumFractionDigits: 2,
				},
				{
					maximumFractionDigits: 2,
					trailingZeros: "keep",
				},
				{
					maximumSignificantDigits: 2,
				},
				{
					maximumSignificantDigits: 2,
					trailingZeros: "keep",
				},
				{
					minimumFractionDigits: 2,
				},
				{
					minimumSignificantDigits: 2,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					trailingZeros: "keep",
				},
				{
					minimumSignificantDigits: 3,
					maximumSignificantDigits: 3,
					trailingZeros: "keep",
				},
				{
					minimumSignificantDigits: 3,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					minimumSignificantDigits: 3,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 1,
					maximumFractionDigits: 3,
					minimumSignificantDigits: 2,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 5,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 2,
					maximumSignificantDigits: 3,
				},
				{
					minimumFractionDigits: 2,
					maximumSignificantDigits: 3,
					trailingZeros: "keep",
				},
				{
					maximumFractionDigits: 0,
					minimumSignificantDigits: 2,
				},
				{
					maximumFractionDigits: 0,
					minimumSignificantDigits: 2,
					trailingZeros: "keep",
				},
				{
					maximumFractionDigits: 0,
					minimumSignificantDigits: 3,
				},
				{
					maximumFractionDigits: 0,
					minimumSignificantDigits: 3,
					trailingZeros: "keep",
				},
				{
					maximumFractionDigits: 0,
					maximumSignificantDigits: 2,
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					roundingIncrement: 5,
				},
				{
					maximumFractionDigits: 2,
					roundingIncrement: 5,
					trailingZeros: "keep",
				},
				{
					maximumFractionDigits: 2,
					roundingIncrement: 10,
				},
				{
					maximumFractionDigits: 2,
					roundingIncrement: 10,
					trailingZeros: "keep",
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					trailingZeros: "keep",
				},
				{
					minimumFractionDigits: 2,
					maximumFractionDigits: 2,
					trailingZeros: "whole",
				},
				{
					maximumFractionDigits: 0,
					maximumSignificantDigits: 2,
					mode: "loose-loose",
				},
				{
					maximumFractionDigits: 0,
					maximumSignificantDigits: 2,
					minimumSignificantDigits: 2,
					mode: "loose-loose",
				},
				{
					maximumFractionDigits: 0,
					maximumSignificantDigits: 2,
					mode: "loose-strict",
				},
				{
					maximumFractionDigits: 0,
					maximumSignificantDigits: 2,
					minimumSignificantDigits: 2,
					mode: "loose-strict",
				},
			],
			newOptionBag: "{\n\tminimumFractionDigits: undefined,\n\tmaximumFractionDigits: undefined,\n\tminimumSignificantDigits: undefined,\n\tmaximumSignificantDigits: undefined,\n\ttrailingZeros: undefined,\n}",
		},
		methods: {
			addNumber: function(e) {
				e.preventDefault();
				this.numbers.push(this.newNumber)
			},
			removeNumber: function(index) {
				this.numbers.splice(index, 1)
			},
			addOptionBag: function(e) {
				e.preventDefault();
				this.optionBags.push(Function("return " + this.newOptionBag)());
			},
			removeOptionBag: function(index) {
				this.optionBags.splice(index, 1)
			},
		},
		computed: {
			matrix: function() {
				return this.optionBags.map((optionBag) => {
					let row = this.numbers.map((number) => {
						return processV2(optionBag, number);
					});
					row.optionBag = optionBag;
					return row;
				});
			}
		}
	})
</script>

</html>